/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

#taskList {
    margin-bottom: 20px;
}

.task {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task h3 {
    margin: 0;
}

.task p {
    margin: 5px 0;
}

.task span {
    font-weight: bold;
}

#excelUploadForm {
    text-align: center;
}